<script>
  function openEditModal(id, content) {
    const modal = document.getElementById('editModal');
    const form = document.getElementById('editForm');
    const input = document.getElementById('editContent');

    form.action = `/edit/${id}/`;
    input.value = content;
    modal.classList.add('active');
  }

  document.querySelector('.close-btn').onclick = function () {
    document.getElementById('editModal').classList.remove('active');
  }

  window.onclick = function (event) {
    const modal = document.getElementById('editModal');
    if (event.target == modal) {
      modal.classList.remove('active');
    }
  }
</script>
</body>

</html>